body {
  background-color: paleturquoise;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%
}

img {
  height: 150px;
}
h1{
  color: red;
}
h3{
  color: darkcyan;
}
h2{
  color: red;
}
